body {
    border: 0px;

}

#header {
    width: 100%;
    border: 0px;
	height: 80px;
}

#mainPage { 
	width=100%;
}

#footer {
	width: 100%;
    border: 0px;
	height: 100px;
}

img {
  width: 100%;
  height: auto;
}

.btn {
	background-color: #2EBFA5;
}

