header{
    background-color: #89BD55;
    height: 80px;
    top: 0;
    position: sticky; 
    color: white;
    font-weight: bold;
	overflow: hidden;
}

nav{
	left: 0px; 
	top: 0px;
	height: 100%;
}

#logo{
 	height: 70px;
    border: 0px;
    object-fit: contain;
}
