<form id="loginForm" method="POST">
	<div class="form-group">
		<label for="username">Όνομα χρήστη:</label>
		<input type="username" class="form-control" id="username" required="true">
	</div>
	<br/>
	<div class="form-group">
		<label for="password">Κωδικός πρόσβασης:</label>
		<input type="password" class="form-control" id="password" required="true">
	</div>
	<br/>
	<button type="submit" class="btn btn-primary" formaction="/Login">Σύδεση</button>
</form>